* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Redressed', cursive;
}

html, body {
  font-size: 16px;
  color: black;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  html, body {
    font-size: 22px;
  }
}

body {
  padding: 30px;
  background-image: url(./images/Ocean.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

body.dark-theme {
  background-image: url(./images/Space.jpg);
}

section {
  background-color: #cccccc;
  width: 90%;
  max-width: 850px;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
}

.button {
  width: 15%;
  min-width: 48px;
  min-height: 48px;
  color: #fff;
  border: 2px solid #5c5b5b;
  border-radius: 5px;
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.button:hover, .button:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-box-shadow: 3px 1px 4px black;
          box-shadow: 3px 1px 4px black;
}

.newItemEntry {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 1rem;
  padding: 0.7rem;
}

.newItemEntry form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 60px;
}

.newItemEntry form label {
  position: absolute;
  left: -10000px;
}

.newItemEntry form input[type="text"] {
  width: 68%;
  font-size: 1rem;
  border: 2px solid #5c5b5b;
  border-radius: 5px;
  padding: 0.75rem;
  outline: none;
}

.newItemEntry form input[type="text"]:focus, .newItemEntry form input[type="text"]:hover {
  -webkit-box-shadow: 3px 1px 4px black;
          box-shadow: 3px 1px 4px black;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.newItemEntry form #addItem {
  background-color: #4caf50;
  padding: 0;
  max-width: 85px;
  max-height: 60px;
}

@media only screen and (min-width: 768px) {
  .newItemEntry form #addItem {
    font-size: 1.5rem;
  }
}

.newItemEntry form #change-theme-btn {
  background-color: blueviolet;
  padding: 0;
  max-width: 85px;
  max-height: 60px;
}

.newItemEntry form #change-theme-btn .material-icons {
  color: black;
}

@media only screen and (min-width: 768px) {
  .newItemEntry form #change-theme-btn .material-icons {
    font-size: 55px;
  }
}

.listContainer {
  min-height: 60vh;
  padding: 0.75rem;
}

.listContainer .listTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.listContainer .listTitle button {
  font-size: 1rem;
  background-color: #9f6060;
  padding: 0 0.1rem;
  margin-bottom: .3rem;
}

@media only screen and (min-width: 768px) {
  .listContainer .listTitle button {
    padding: 0 0.5rem;
  }
}

.listContainer .listTitle hr {
  width: 100%;
}

.listContainer .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .8rem;
}

.listContainer .item input[type="checkbox"] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.listContainer .item input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.listContainer .item input[type="checkbox"] + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 28px;
  height: 28px;
  background: white;
}

.listContainer .item input[type="checkbox"]:hover + label:before {
  background: #31af3b;
}

.listContainer .item input[type="checkbox"]:focus + label:before {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.listContainer .item input[type="checkbox"]:checked + label:before {
  background: #29f355;
}

.listContainer .item input[type="checkbox"]:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.listContainer .item input[type="checkbox"]:disabled + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ddd;
}

.listContainer .item input[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  padding-top: 2px;
  left: 7px;
  top: 12px;
  background: white;
  width: 3px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.listContainer .confirmation {
  position: absolute;
  font-size: 20px;
}
/*# sourceMappingURL=styles.css.map */